@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
body {
  min-height: 100vh;
}

.entry-content,
.entry-content .ql-snow .ql-editor {
  font-family: "Epilogue", sans-serif;
  color: white;
  font-size: 16px;
  // text-align: justify;
  h2,
  h3,
  h4 {
    font-weight: bold;
    margin-bottom: 20px;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 26px;
  }
  h4 {
    font-size: 22px;
  }
  p {
    margin-bottom: 20px;
    line-height: 2;
  }
  figure {
    margin-bottom: 20px;
  }
  figure img {
    border-radius: 20px;
    margin-bottom: 10px;
  }
  figcaption {
    text-align: center;
    font-style: italic;
    font-size: 14px;
    color: #6b6b6b;
  }
  ul {
    list-style-type: disc;
  }
  ol {
    list-style: decimal;
  }
  ul,
  ol {
    margin-bottom: 20px;
    padding-left: 40px;
    margin-left: 0;
    li {
      margin-bottom: 10px;
    }
  }
  img {
    border-radius: 8px;
    margin-bottom: 30px;
    width: 100%;
  }
  @media screen and (max-width: 1023.98px) {
    font-size: 14px;
    h2 {
      font-size: 26px;
    }
    h3 {
      font-size: 24px;
    }
    h4 {
      font-size: 20px;
    }
  }
}


.hidden-input {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  z-index: 0;
}